:root {
  --custom-blue: #3877d3;
  --custom-blue_opaque: rgba(16, 172, 245, 0.2);
  --custom-white: white;
  --custom-grey: #565656;
}
:root .facebook-blue {
  color: #3b5998;
}
:root .twitter-blue {
  color: #00aced;
}
:root .instagram {
  color: #e95950;
}
:root .linkedin {
  color: #007bb5;
}
:root .youtube {
  color: #ff0000;
}

.button-wrapper {
  width: 80%;
  margin: 0 auto;
}

.add-button, main .wallet-type-area .show-more-wallet-btn {
  background-color: var(--custom-blue);
  padding: 10px 50px;
  border-radius: 7px;
  font-size: 20px;
  margin: 30px 0;
  color: white;
}
.add-button:hover, main .wallet-type-area .show-more-wallet-btn:hover {
  color: white;
  transform: scale(1.03);
  transition: transform ease 0.75s;
}

.section-header {
  color: var(--custom-grey);
  font-weight: bold;
  font-size: 35px;
}
.section-header:after {
  background-color: var(--custom-blue);
  content: "";
  display: block;
  width: 100px;
  margin: 0 auto;
  height: 3px;
  border-radius: 20px;
}

.section-brief {
  color: var(--custom-grey);
  width: 65%;
  margin: 30px auto;
  font-size: 18px;
}

main .main-banner {
  background-image: url(../../images/crypto-background.png);
  min-height: calc(100vh - 70px);
  background-color: rgba(255, 255, 255, 0.95);
  background-blend-mode: overlay;
  text-align: center;
}
main .main-banner .text-section {
  padding: 120px 50px 15px;
  color: var(--custom-grey);
}
main .main-banner .text-section .bold-text {
  font-size: 60px;
  margin: 50px;
}
main .main-banner .text-section .platform-brief {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
}
main .more-details-area {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  min-height: 300px;
}
main .wallet-type-area {
  margin: 50px auto;
  padding-top: 30px;
  text-align: center;
}
main .wallet-type-area .wallet-type-wrapper {
  width: 100%;
  padding: 20px 50px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
main .wallet-type-area .show-more-wallet-btn {
  width: 100%;
}