@media screen and (max-width: 991px) {
  main .main-banner {
    min-height: 450px;
  }
  main .main-banner .lead-banner-image {
    padding: 20px 30px;
  }
  main .my-nav {
    display: none;
  }
  main .for-mobile {
    display: block;
  }
  main .for-mobile .navbar-collapse {
    text-align: center;
  }
}
@media screen and (max-width: 680px) {
  .section-brief {
    width: 90% !important;
  }

  main .btn {
    font-size: 18px !important;
  }
  main .main-banner .text-section {
    padding: 60px 10px 15px;
  }
  main .main-banner .text-section .bold-text {
    margin: 0 10px;
    font-size: 50px;
  }
  main .main-banner .text-section .platform-brief {
    width: 94%;
    margin: 0 auto;
  }
  main .main-banner .lead-banner-image {
    padding: 20px 15px 40px;
  }
  main .wallet-type-area .wallet-type-wrapper {
    padding: 20px;
  }
  main .wallet-type-area .wallet-type-wrapper .wallet-type-item {
    margin: 10px;
  }
  main footer .legal,
main footer .copy {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  main .btn {
    padding: 10px 50px !important;
  }
}