:root {
  --custom-blue: #3877d3;
  --custom-blue_opaque: rgba(16, 172, 245, 0.2);
  --custom-white: white;
  --custom-grey: #565656;
}
:root .facebook-blue {
  color: #3b5998;
}
:root .twitter-blue {
  color: #00aced;
}
:root .instagram {
  color: #e95950;
}
:root .linkedin {
  color: #007bb5;
}
:root .youtube {
  color: #ff0000;
}

.button-wrapper {
  width: 80%;
  margin: 0 auto;
}

.add-button, .wallet-details-entry-section .form-area .submit-button {
  background-color: var(--custom-blue);
  padding: 10px 50px;
  border-radius: 7px;
  font-size: 20px;
  margin: 30px 0;
  color: white;
}
.add-button:hover, .wallet-details-entry-section .form-area .submit-button:hover {
  color: white;
  transform: scale(1.03);
  transition: transform ease 0.75s;
}

.section-header {
  color: var(--custom-grey);
  font-weight: bold;
  font-size: 35px;
}
.section-header:after {
  background-color: var(--custom-blue);
  content: "";
  display: block;
  width: 100px;
  margin: 0 auto;
  height: 3px;
  border-radius: 20px;
}

.section-brief {
  color: var(--custom-grey);
  width: 65%;
  margin: 30px auto;
  font-size: 18px;
}

.wallet-details-entry-section {
  width: 100%;
  margin: 50px auto;
  padding: 0 20px;
}
.wallet-details-entry-section .options-wrapper {
  width: 70%;
  display: flex;
  margin: 50px auto 0;
  justify-content: space-between;
}
.wallet-details-entry-section .options-wrapper .option-item {
  width: 32%;
  padding: 6px 20px;
  border-radius: 30px;
  text-align: center;
  border: none;
  background-color: white;
}
.wallet-details-entry-section .options-wrapper .option-item:hover {
  background-color: #bdbdbd;
}
.wallet-details-entry-section .form-area {
  width: 70%;
  margin: 40px auto;
}
.wallet-details-entry-section .form-area .mb-3 {
  margin-bottom: 20px !important;
}
.wallet-details-entry-section .form-area .mb-3 .tip-text {
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
  color: var(--custom-blue);
}
.wallet-details-entry-section .form-area .submit-button {
  width: 100%;
}