.button-wrapper {
  width: 80%;
  margin: 0 auto;
}
.add-button {
  background-color: var(--custom-blue);
  padding: 10px 50px;
  border-radius: 7px;
  font-size: 20px;
  margin: 30px 0;
  color: white;
  &:hover {
    color: white;
    transform: scale(1.03);
    transition: transform ease 0.75s;
  }
}
.section-header {
  color: var(--custom-grey);
  font-weight: bold;
  font-size: 35px;
  &:after {
    background-color: var(--custom-blue);
    content: '';
    display: block;
    width: 100px;
    margin: 0 auto;
    height: 3px;
    border-radius: 20px;
  }
}
.section-brief {
  color: var(--custom-grey);
  width: 65%;
  margin: 30px auto;
  font-size: 18px;
}
