@use './utilities/colors';

footer {
  width: 100%;
  padding: 30px 20px;
  text-align: center;
  .legal,
  .copy {
    width: 80%;
    margin: 20px auto;
    color: var(--custom-grey);
  }
  .icon {
    font-size: 20px;
    text-decoration: none;
    margin: 10px 30px;
    color: var(--custom-grey);
    &:hover {
      color: var(--custom-blue);
      transition: color ease 0.75s;
    }
  }
}
