@media screen and (max-width: 991px) {
  main {
    .main-banner {
      min-height: 450px;
      .lead-banner-image {
        padding: 20px 30px;
      }
    }
    .my-nav {
      display: none;
    }
    .for-mobile {
      display: block;
      .navbar-collapse {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .section-brief {
    width: 90% !important;
  }
  .btn {
    font-size: 18px !important;
    // padding: 10px 70px !important;
  }
  main {
    .main-banner {
      .text-section {
        padding: 60px 10px 15px;
        .bold-text {
          margin: 0 10px;
          font-size: 50px;
        }
        .platform-brief {
          width: 94%;
          margin: 0 auto;
        }
      }
      .lead-banner-image {
        padding: 20px 15px 40px;
      }
    }
    .wallet-type-area {
      .wallet-type-wrapper {
        padding: 20px;
        .wallet-type-item {
          margin: 10px;
        }
      }
    }
    footer {
      .legal,
      .copy {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  main {
    .btn {
      padding: 10px 50px !important;
    }
  }
}
