@use './utilities/colors';
@use './utilities/config';
@use './utilities/google-fonts';

main {
  .main-banner {
    min-height: calc(100vh - 70px);
    background-blend-mode: overlay;
    text-align: center;
    .text-section {
      padding: 70px 50px 15px;
      color: var(--custom-grey);
      .bold-text {
        font-size: 60px;
        margin: 50px;
      }
      .platform-brief {
        width: 80%;
        margin: 0 auto;
        font-size: 20px;
      }
    }
    .lead-banner-image {
      width: 100%;
      padding: 0 60px;
    }
  }
  .more-details-area {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    min-height: 300px;
  }
  .wallet-type-area {
    margin: 50px auto;
    padding-top: 30px;
    text-align: center;
    .wallet-type-wrapper {
      width: 100%;
      padding: 20px 50px 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .show-more-wallet-btn {
      @extend .add-button;
      width: 100%;
    }
  }
}
